.slicknav_menu{
	@include showTo(l)
}
header.site-header{
	@include full;
	@include hideTo(l);
	@include edContainer;
	background: $primary-color;
	//margin-bottom: 20px;
	border-bottom:5px solid darken($primary-color,10%);
	.site-branding{
		@include padding(2);
		@include edItem(100,100,20);
	}
	.main-navigation{
		@include edItem(100,100,80);
		& > div{
			margin:30px auto;
			@include edNav(left,l);

			ul#primary-menu{
				// min-width: 180px!important;
				@include edMenu(l);
				& > li {
					transition: .3s background-color;
					background: $primary-color;
					margin-left: 5px;
					&:hover,&.current_page_item{
						border-radius: 5px 5px 0 0 ;
						background: $secondary-color;
					}
					li{
						background: $secondary-color;
						&:hover{
							transition: .3s background-color linear;
							background: darken($secondary-color,10%);
						}
					}
				}
				
				a{
					color:#fff;
					font-size: 11pt;
				}
				
				.sub-menu{
					z-index: 10;
				}

			}

			
		}
	}

}

//slider
#slider{
	//@include padding(2);
	@include to(l){
		margin-top: 10px;
	}
}

//welcome message

#welcome_text{
	font-size: 20pt;
	@include edContainer;
	margin: 0 auto;
	padding-top:20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #eee;
}
